:root {
  /* Font sizes */
  --font_15px: 0.75rem;
  --font_14px: 0.7rem;
  --font_13px: 0.65rem;
  --font_12px: 0.6rem;
  --font_11px: 0.55rem;
  --font_10px: 0.5rem;

  /* colors */
  --grey_text: #3b4351;
}
